/*
 * New style inspired in this portfolio: https://gael-baurens.fr/
 */

img {
    max-width: 100%;
}

/* END Temp */

:root {
    --clr-light:     #ffffff;
    --clr-dark:      #333333;
    --clr-darkest:   #000000;
    --clr-accent:    #ff9800;
    --clr-secondary: #22b2a5;
}

/* General  styles */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body {
    margin: 0;

    background-color: var(--clr-darkest);
    color: var(--clr-light);
}

section {
    scroll-margin: 3em;
    padding: 2em;
    background-color: #111;
}

section:nth-child(odd) {
    background-color: #222;
}

section h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
}

a {
    text-decoration: none;
    /* color: var(--clr-secondary); */
    color: aquamarine;
}

h1, h2, h3, h4, h5, h6, .text-accent {
    font-family: sans-serif;
    color: var(--clr-accent);
}

h2 {
    text-align: center;
}

p {
    max-width: 72ch;
    text-align: justify;
}

.card {
    background-color: var(--clr-dark);
    padding: 1em;
    border-radius: 1em;
}

.tag {
    display: inline-block;
    min-width: 6em;
    margin: 0.4em;
    padding: 0.4em 0.8em;
    border: solid 2px currentcolor;
    border-radius: 10em;
    text-align: center;

    color: var(--clr-secondary);
}

/* Section specific styles */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    min-height: 3em;
    z-index: 1;
}

nav { /* TODO(flame): Adapt with media query */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;

    background-color: var(--clr-darkest);
}

nav #language-list a {
    display: inline-block;
    margin: 1em 0.2em;
    padding: 0;
}

nav a {
    display: none;
    transition: color 0.2s ease-out;
    padding: 1em;

    color: currentcolor;
}

nav a:hover, nav a:focus-visible {
    outline: none;
    color: var(--clr-accent);
}

#intro {
    scroll-margin: 0;
    height: 100svh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25%;

    background-color: #000d;
    background-blend-mode: multiply;
    background-image: url("../resources/city.jpg");
    background-size: cover;
}

#intro-subtitle {
    text-wrap: balance;
    color: currentcolor;
}

#intro-bgcredits {
    position: absolute;
    right: 1em;
    bottom: 0;
    text-align: right;

    opacity: 0.5;
}

#aboutme p {
    max-width: 60ch;
    margin: 1em auto;
}

#intro #arrow-link {
    display: block;
    position: absolute;
    bottom: 2em;
    text-align: center;
}

#intro svg {
    width: 4em;
    height: 4em;
    animation-name: levitate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#intro svg path{
    stroke: #ffffff;
}

#skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: baseline; */
    gap: 2em;
}

#skills-list article {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;

    max-width: 30em;
    text-align: center;
}

#skills-list article h2 {
    width: 100%;
}

/* projects */

.project + .project {
    margin-top: 1em;
}

.project {
    display: flex;
    flex-direction: column;
}

.project img {
    margin: 0 auto;
    border-radius: 1em;
}

.project img.missing {
    visibility: hidden;
}

.project-technologies {
    font-size: 0.8rem;
    text-align: center;
}

.project-technologies .tag {
   margin: 0.2em 0;
}

section + footer {
    background-color: #222;
}

section:nth-child(odd) + footer {
    background-color: #111;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 2em;
}

footer #socials {
    display: flex;
    gap: 1em;
}

footer a {
    display: inline-block;
}

footer svg {
    width: 2em;
    height: 2em;
}

footer svg path {
    fill: var(--clr-secondary);
}

footer a:hover, footer a:focus-visible {
    color: var(--clr-accent);
}

footer a:hover svg path, footer a:focus-visible svg path{
    fill: var(--clr-accent);
}

/* Animations */

@keyframes levitate {
    0% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(10%);
    }
}

/* Media query */
@media screen and (min-width: 770px) {
    nav #language-list a {
        margin: 0 0.2em;
    }
    nav a {
        display: inline-block;
    }
    .project {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2em;
        border-radius: 0;
        margin: 2em;
    }

    .project:nth-child(even) {
        flex-flow: row-reverse;
    }

    .project.card {
        background-color: inherit;
    }

    .project + .project {
        margin-top: 0;
    }

    .project img, .project .project-content {
        width: 50%;
    }

    .project-title {
        padding-bottom: 0.4em;
        border-bottom: solid 2px currentcolor;
    }

    .project-title, .project-technologies {
        text-align: left;
    }
}

@media screen and (min-width: 512px) {
    .project img {
        max-width: 60%;
    }
}
